{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "import/extensions": 0
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}